main{
	width: 100%;
	background: #EEF1F8;
}
main section:first-child{
	border-bottom: solid 1px #DEE5EF;
}
main section>h2{
	padding: 12px;
	padding-left: 36px;
	font-size: 14px;
	font-weight: normal;
}
.video-h2-folder{
	background: url(../img/folder@2x.png) no-repeat 10px 16px;
	background-size: 20px 16px;
}
.video-h2-video{
	background: url(../img/video@2x.png) no-repeat 10px 16px;
	background-size: 20px 16px;
}
main section h2>span{
	float: right;
	display: block;
}
span.span-open:after{
	content: "";
	width: 0;
    height: 0;
	display: inline-block;
	margin-left: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #8090A7;
}
span.span-close:after{
	content: "";
	width: 0;
    height: 0;
    display: inline-block;
    margin-left: 3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom:  8px solid #8090A7;  
}
.div-folder-collapsible,.div-video-collapsible{
	font-size: 12px;
	padding: 10px;
	/*background: #EEF1F8;*/
}
section div ul{
	margin-right: -6px;
}
section div ul li{
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding-right: 6px;
	padding-bottom: 4px;
}
section div ul li img{
	display: block;
	width: 100%;
}
section div ul li p{
	width: 100%;
	padding: 5px 0;
	overflow: hidden;
	word-break:keep-all;          
	white-space:nowrap;
	text-overflow:ellipsis;
}
.a-loading-more{
	display: block;
	width: 100%;
	text-align: center;
	padding: 4px;
}

footer{
	width: 100%;
	
	background: #DDE3EF;
	position: fixed;
	bottom: 0;
}
footer a{
	display: inline-block;
	width: 32%;
	text-align: center;
	color:#7D7D7B;padding: 6px 0;
}
footer a span{
	display: block;
}
footer a img{
	display: inline-block;
	width: 18px;	
}
















